<div>
  <mat-icon style="vertical-align: middle; padding: 16px">search</mat-icon>
  <mat-form-field style="padding: 10px 10px 0px 10px;width: 20%;min-width: 250px;">
    <input (keyup)="searchTextChanged($event)" matInput placeholder="Search">
  </mat-form-field>
</div>
<div class="sticky-table" fxLayout="column" fxFlex="1 1 auto">
  <div fxFlex="1 1 auto">
    <table class="valami" style="width: 100%;" mat-table #table [dataSource]="dataSource"
           matSort
           aria-label="Elements">

      <ng-container matColumnDef="status">
        <th style="width: 100px;" mat-header-cell *matHeaderCellDef></th>
        <td style="width: 100px;" mat-cell *matCellDef="let row">
          <mat-chip-list *ngIf="row.trackStatus=='STARTED'">
            <mat-chip class="focused" color="accent" selected>
              <mat-icon style="margin-right: 5px; font-size: 15px; height: 15px; width: 15px;" mat-list-icon>
                track_changes
              </mat-icon>
              LIVE
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let row">
          <div>{{row.username}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell sticky="true" *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let row">
          <div>{{row.firstName}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell sticky="true" *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let row">
          <div>{{row.lastName}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="vehicleName">
        <th mat-header-cell sticky="true" *matHeaderCellDef>Vehicle name</th>
        <td mat-cell *matCellDef="let row">
          <div>{{row.vehicleName}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="averageSpeed">
        <th mat-header-cell sticky="true" *matHeaderCellDef>Average Speed</th>
        <td class="live-row-data" mat-cell *matCellDef="let row">
          <div>{{row.averageSpeed == null ? '-' : row.averageSpeed |
            number : '1.1-1'}} Km/h
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="distance">
        <th mat-header-cell sticky="true" *matHeaderCellDef>Distance</th>
        <td class="live-row-data" mat-cell *matCellDef="let row">
          <div>{{row.distance == null ? '-' : row.distance/1000 | number
            : '1.1-1'}} Km
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell sticky="true" *matHeaderCellDef>Duration</th>
        <td class="live-row-data" mat-cell *matCellDef="let row">
          <div>{{row.duration == null ? '-' : row.duration |
            amDuration:'milliseconds'}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="{'highlight': selectedRowIndex == row.trackId, 'live-row' : row.trackStatus=='STARTED'}"
          (click)="rowClickHandler(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator
                 [length]="this.paginator.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 style="display:block;width: 100%;">
  </mat-paginator>

</div>
